a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.text-right{
    text-align: right;
}

.icons-row{
  list-style: none;
  padding-left: 0;
  margin-bottom: 0.2rem;
}

.icons-row li{
  display: inline-block;
  margin-right: 0.2rem;
}

.clear-fix {
  clear: both;
}

.clear-fix:after {
  clear: both;
  content: "";
  display: table;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
         transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.spinner {
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
    min-width: 40px;
    min-height: 40px;
    width: 100%;
}

.spinner::before {
    animation: 2s linear infinite spinner;
    border: solid 3px #eee;
    border-bottom-color: #EF6565;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
}

.search-well{
    margin-top: 1rem !important;
}

.iframe-container{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#channels, #videos{
    margin-top: 1rem !important;
}

.channel{
    font-family: Roboto, Arial, sans-serif;
}

.channel a:hover{
    text-decoration: none;
}

.channel{
    display: block;
    height: auto;
}

.channel .icons-row li{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(96, 96, 96);
}

.channel .icons-row li a{
    font-weight: 400;
    color: rgb(96, 96, 96);
}

.channel h5 a, .task-item a{
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: rgb(3, 3, 3);
}

.task-item-left{
    float: left;
    padding-top: 10px;
}

.task-item-left i{
    font-size: 20px;
    line-height: 40px;
}

.task-item-right{
    float: left;
    width: calc(100% - 20px);
    padding-left: 1rem;
    overflow: hidden;
}

.channel-thumbnail{
    float: left;
    width: 88px;
}

.channel-content{
    float: left;
    width: calc(100% - 88px);
    padding-left: 1rem;
}

.video-details{
    min-height: 365px;
}

.video-details{
    min-height: 360px;
}

.video-details .channel-thumbnail{
    width: 640px;
}

.video-details .channel-content{
    width: calc(100% - 640px);
}

.channel-details{
    min-height: 376px;
}

.channel-details .channel-thumbnail{
    width: 512px;
}

.channel-details .channel-content{
    width: calc(100% - 512px);
}

#videos .channel-thumbnail{
    width: 120px;
}

#videos .channel-content{
    width: calc(100% - 120px);
}
