<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
            {% if group %}
                {{ group }} :: ngram dictionary
            {% else %}
                Home :: ngram dictionary
            {% endif %}
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <!-- Core theme CSS (includes Bootstrap)-->

        <link href="{{ url_for('static', filename='css/fontawesome.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

        {% block css %}{% endblock %}
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light" style="text-align: center;">Dictionaries</div>
                <div class="list-group list-group-flush">
                    {% for g in items %}
                        <a class="list-group-item list-group-item-action list-group-item-light p-3"
                           href="{{ url_for('videos', group=g) }}">
                            <i class="fas fa-book"></i>
                            {{ g }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Page content-->
                <div class="container-fluid">
                    {% if group %}
                        <h4 class="mt-3">
                            <i class="fas fa-book"></i> {{ group }}
                        </h4>
                    {% else %}
                        <h4 class="mt-3">
                            <i class="fas fa-home"></i> Home
                        </h4>
                    {% endif %}
                    {% if not group %}
                        <div class="alert alert-warning mt-3" role="alert" style="text-align: center">
                            Please, select dictionary from the sidebar at right.
                        </div>
                    {% else %}
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">UUID</th>
                              <th scope="col">Ngram</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in items[group] %}
                                <tr>
                                  <td>{{ item.uuid }}</td>
                                  <td>{{ item.ngram | lower }}</td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Bootstrap core JS-->
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <!-- jQuery -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <!-- handlebars.js -->
        <script src="{{ url_for('static', filename='js/handlebars.js') }}"></script>
        <!-- moment.js -->
        <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
